# apple stuff
*.DS_Store
# jetbrains stuff
*.idea

# huge data files
c_cnn/data
py_cnn/mnist_torch

# pycache
*__pycache__

# compiled stuff
c_cnn/cmake-build-debug/
c_cnn/rawnetwork/build/
c_cnn/rawnetwork/main
